.description-sec {
  display: flex;
  position: relative;
  min-height: 350px;
}

.description-sec img {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.description-text h1 {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 42px;
  font-weight: bolder;
}

.description-text h2 {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 33px;
  font-weight: bold;
}

.description-text {
  text-align: start;
  line-height: 1.6em;
  color: white;
  font-size: 30px;
  padding-bottom: 45px;
  width: 100%;
}

.desc-text {
  text-align: start;
  line-height: 1.6em;
  color: white;
  font-size: 30px;
  padding-bottom: 45px;
  width: 100%;
}

#learnMore {
  font-size: 22px;
}
